*, *::before, *::after {    
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 18px;
    margin: 0;
}

a {
    color:inherit;
    text-decoration: none;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

input, textarea {
    border: none;
    outline: none;
}

img {
    max-width: 100%;
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.container {
    max-width: 1630px;
    padding: 0 15px;
    margin: auto;
}

.container-fluid {
    margin: auto;
    padding: 0 15px;
    width: 100%;
}

.btn {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 15px;
    align-items: center;
    padding: 16px 30px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
}

.btn-default {
    background: linear-gradient(90deg, #0CEBEB 0%, #20E3B2 50%, #29FFC6 100%);
    box-shadow: 0px 4px 20px rgba(32, 228, 179, 0.85);
    border-radius: 30px;
    border: 0px; 
    cursor: pointer;
}

.header {
    /*background-color: violet;*/
    position: absolute;
    padding: 40px 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.contact-us-form-tabs {
    padding-top: 65px;
    position: relative;
    z-index: 1;
}

.tab-navs .nav-item + .nav-item {
    margin-left: 30px;
}

.tab-navs .nav-item-link {
    border: 1px solid #f5f5f5;
    border-radius: 5px 5px 0 0 ;
    border-bottom-color: #00ac6a;
    color: #b6b6b7;
    min-width: 265px;
    min-height: 100px;
    font-weight: 700;
    font-size: 18px;
}

.tab-navs .ui-state-active .nav-item-link {
    background-color: #fff;
    border: 1px solid #00ac6a;
    border-bottom-color: #fff;
    color: #0a0b0f;
}

.contact-us-tabs-content {
    max-width: 1788px;
    width: 100%;
    border: 1px solid #00ac6a;
    border-radius: 5px;
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}

.tabs-with-forms {
    padding: 130px 100px;
    flex-grow: 1;
}

.project-types-part {
    width: 100%;
    max-width: 305px;
}

.project-type-checkbox-content {
    height: 55px;
    margin: 30px 20px;    
}

.project-type-checkbox-content img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 20px;
}

.project-type-checkbox-text h6 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.project-type-checkbox-text p {
    color:#b6b6b7;
    font-size: 14px;
}



.project-type-checkbox input {
    display: none ;
}

.project-type-checkbox + .project-type-checkbox {
    margin-top: 20px;
}

.project-type-checkbox > label {
    padding: 15px 25px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
    display: block;
    cursor: pointer;
}

.project-type-checkbox > label:hover {
    border: 1px solid #00ac6a;
    background-color: #fff;
}

.project-type-checkbox > label:hover .project-type-checkbox-content {
    color: #00ac6a;
}

.project-type-checkbox > label:hover .project-type-checkbox-content .project-type-checkbox-text > p {
    color: #00ac6a;
}

.project-type-checkbox > input:checked + label {
    background-color: #00ac6a;
    border-color: #00ac6a;
}

.project-type-checkbox .project-type-title {
    font-size: 16px;
    font-weight: 700;
}

input[type=file]::file-selector-button {
    color: #00ac6a;
    background-color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 5px;
    border: 1px solid #00ac6a;
    align-items: center;
    padding: 16px 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;    
}

.project-team-type-radio-group {
    margin-top: 45px;
}

.project-team-type-radio > label {
    font-size: 16px;
    color: #c7c8c8; 
    cursor: pointer;   
}

.project-team-type-radio > label::before {
    content: '';
    border-radius: 50%;
    border: 2px solid #b3e6d3;
    width: 16px;
    height: 16px;
    background-color: transparent;
    margin-right: 10px;
}

.project-team-type-radio input:checked +label::before {
    background-color: #fff;
    padding: 2px;
    background-clip: content-box;
}


.project-type-checkbox > input:checked +label .project-type-checkbox-content .project-type-checkbox-text {
    color: #fff;
}

.project-type-checkbox > input:checked +label .project-type-checkbox-content .project-type-checkbox-text > p {
    color: #fff;
}

.project-type-checkbox > input:checked +label .project-team-type-radio label {
    color: #fff;
}

.project-type-checkbox > input:checked +label .project-team-type-radio label::before {
    border-color: #fff;
}    

.main-form-part {
    max-width: 500px;
    width: 100%;
}

.project-choose-period {
    margin-bottom: 137px;
}

.choose-period-radio {
    max-width: 150px;
    width: 100%;
}

.choose-period-radio > input {
    display: none;
}

.choose-period-radio > label {
    padding: 15px 0;
    border-radius: 5px;
    border: 1px solid #d3d3d4;
    max-width: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.choose-period-radio > input:checked + label {
    border-color: #00ac6a;
    color: #00ac6a;
}

.upload-file {
    width: 100%;  
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 50px;
}

.upload-file-text {
    padding-left: 25px;
    border-bottom: 1px solid #d3d3d4;
    max-width: 360px;
    width: 100%;
    margin-right:13px;
}

input[type=file] {
    display: none;
}

.input-button {
    color: #00ac6a;
    background-color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 5px;
    border: 1px solid #00ac6a;
    align-items: center;
    padding: 16px 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;    
}



.input-item .form-control {
    width: 100%;
    border-bottom: 1px solid #d3d3d4;
    padding-bottom: 20px;
    padding-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
}

.input-item label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    position: relative;
    width: 100%;
    top: -63px;
    left: 25px;
    transition: all 0.2s ease-in;
}

.input-item textarea {
    resize:vertical;
}

.input-item .form-control:focus ~ label,
.input-item .form-control.value-exist ~ label {
    top: -86px;
    font-size: 12px;
    font-weight: 300;
    color: #727275;
}

.main-form-part .input-item + .input-item {
    margin-top: 45px;
}

.agreement-text {
    display: inline-block;
    color: #b4b4b4;
    font-size: 12px;
    width: 445px;
    width: 100%;
    margin-left: 20px;
}

.agreement-text a {
    color: #b2e6d2;
    text-decoration: underline;
}

.button-section {
    display: flex;
    margin-top: auto;
}

.regular-button {
    color: #fff;
    background-color: #00ac6a;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 5px;
    border-color: #00ac6a;
    border: #00ac6a;
    align-items: center;
    padding: 16px 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.trusted-us-partners {
    max-width: 440px;
    background-color: #00ac6a;
    width: 100%;
    height: 100%;
    padding: 100px 50px 0 50px;
    margin-left: auto;
}

.trusted-us-title {
    color: #037b4f;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 25px;
}

.trusted-us-imgs {
    flex-wrap: wrap;
}

.trusted-us-img {
    width: 50%;
    margin: 30px 0;
    opacity: 0.7;
    text-align: center;
}

.project-type-select-text {
    color:#b6b6b7;
    margin-bottom: 27px;
}

.map-wrapper {
    margin-top: -25px;
    position: relative;
    justify-self: center;
}

.map-wrapper > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.map-content {
    top: 0;
    position: absolute;
    max-width: 1788px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
}

.what-customers-say-block {
    display: block;
    padding-top: 150px;
    flex-grow: 1;
    color: #fff;
    max-width: 1380px;
    width: 100%;
    font-size: 16px;
}

.quote {
    font-size: 36px;
    color: #fff;
    font-family: 'Butler_Medium';
    font-style: normal;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 30px;
}

.signature-name {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.signature-job-title {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.follow-us-block {
    padding-top: 150px;
    max-width: 220px;
    width: 100%;
    flex-grow: 1;
    color: #fff;
    font: size 16px;
}

.follow-us-icons {
    margin-top: 85px;
    font-size: 24px;
}

.follow-us-icons i+i {
    margin-left: 35px;
}

.footer {
    height: 325px;
    position: relative;
    justify-self: center;
    padding-top: 95px;
}

.footer-navigation {
    max-width: 1146px;
    width: 100%;
}

.footer-column > h6 {
    font-size: 16px;
    margin-bottom: 40px;
}

.footer-column > p {
    font-size: 16px;
    margin-bottom: 18px;
}

.footer-column-latest-article {
    font-size: 14px;
    opacity: 60%;
    text-decoration: underline;
    color: #0a0b0f;
}

.all-rights-reserved > p {
    margin-bottom: 18px;
    text-align: right;
}

@font-face {
	font-family: Butler_Medium;
	src: url('../webfonts/Butler_Medium.otf');
    font-style: normal;
    font-weight: 500;
}
